


body {
    background-color: mintcream;

}

a {
    text-decoration: none;
}

h1 {
    color: #19091A;
    font-size: 3em;
}

h3 {
    color: #19091A;
    font-size: 6em;
}

p {
    color: #19091A;
    font-size: 2em;
}


.menu-table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
}

.player-bar {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.player-table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
}

.function-table {
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}



.content {
    background-color: lightgrey;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}


.menu-content {
    background-color: mintcream;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    width: 80%;
    height: 60%;
}
