


body {
    background-color: #3B1932;
    background-image: url("imgs/background.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    resize: both;
}

h1 {
    color: #19091A;
    font-size: 3em;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 3em;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: right;
}

    li a {
        display: block;
        color: #19091A;
        border-radius: 15px;
        text-align: center;
        padding: 20px 50px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #19091ACC;
            color: #FEFFF8;
            border-radius: 15px;
        }

ol li a {
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}


.class-list {
    display: block;
    color: #19091A;
    border-radius: 15px;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
}

.current {
    background-color: #19091ACC;
    color: #FEFFF8;
}


.menu-bar {
    height: 4vh;
}

.nav-bar {
    width: 90%;
    max-width: 1920px;
    min-width: 916px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEFFF8CC;
    border-radius: 10px 20px;
}

.nav-bar-pages {
    width: 70%;
}

.nav-bar-title {
    padding-left: 20px;
    vertical-align: middle;
}



.content {
    position: relative;
    height: 75%;
    width: 90%;
    max-width: 1920px;
    min-width: 916px;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEFFF899;
    border-radius: 15px;
}


.main-table {
    table-layout: fixed;
    width: 100%;
}


.medium-cell {
    width: 50%;
    display: block;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 10%;
}

.large-cell {
    width: 90%;
    display: block;
    margin-left: 8%;
    margin-right: auto;
    margin-top: 10%;
}

.border-cell {
    width: 50%;
    display: block;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 10%;
    border: #19091ACC solid 5px;
    border-radius: 10px;
}

.simple-border {
    border: #19091ACC solid 5px;
    border-radius: 10px;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10vh;
    width: 100%;
    background-color: #070203B3;
}

.foot-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.foot-li {
    float: right;
}


